<% layout('layouts/boilerplate') %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <main class="px-3 main">
        <div class="background-image"> <img src="https://images.unsplash.com/photo-1592038597827-754d5d1fe84e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt=""> </div>
        <div class="text-overlay">
        <h1> Cookbook</h1>
        <p class="lead"> Welcome to Aeri's Cookbook! <br> Jump right in and explore our many recipes. <br>
            Feel free to share some of your own and comment on others!</p>
        <a href="/recipes" class="btn btn-lg btn-secondary font-weight-bold border-black bg-black">View
            All Recipes</a>
        </div>
    </main>
</body>
</html> 