<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/index.css">
    <h1 style="text-align: center; margin-top: 12px; color:rgb(108,117,125);">All Recipes</h1>
    <div style="text-align: center;"><a href="/recipes/new">Add A Recipe</a></div>
    <div class=" recipe-container row">
        <% for (let recipe of recipes) {%>
            <div class=" col-lg-3 card mb-3" style="width:18em; border-color:rgb(108,117,125);">
               <% if(recipe.images != "undefined") {%>
                <div class="img-container">
                 <img class="card-image card-img-top" src='<%= recipe.images[0].url%>' >
                </div>
                <% } else{ %>
                   <img class="card-image card-img-top" src='https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/exps16865_CW143044B06_12_2b.jpg'> 
              <% }%>
                   <div class="card-body">
                    <h5 class="card-title" href =""> <%= recipe.title %> </h5>
                    <a href="/recipes/<%= recipe._id%>" class="btn"> View <%=recipe.title%> </a>
                </div>
            </div>
        <% }%>
     </div>
